<div class="row justify-content-center">
  <table class="table table-hover col-10">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td><img class="img-responsive img-rounded image" [src]="movie.poster" /></td>
        <td (click)="onTitleClick(movie)">{{movie.title | impressive | uppercase}}</td>
        <td [appTableSuccess]="isYoungMovie(movie.year)">{{movie.year}}</td>
        <td>{{movie.type}}</td>
      </tr>
    </tbody>
  </table>
</div>
