<div class="row justify-content-center">
  <app-movie-search class="col-10 mb-4 mt-4" (search)="onSearch($event)"></app-movie-search>
  <table class="table table-hover col-10">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="movies$ | async as movies ; else noMoviesAvailable">
        <tr *ngFor="let movie of movies | orderBy:'year':true">
          <td><img class="img-responsive img-rounded image" [src]="movie.poster" /></td>
          <app-movie-title (titleClick)="onTitleClick($event)" [movie]="movie"></app-movie-title>
          <td [appTableSuccess]="isYoungMovie(movie.year)">{{movie.year}}</td>
          <td>{{movie.type}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="saveFavorite(movie)"> + </button>
            <button type="button" class="btn btn-danger" (click)="deleteFavorite(movie)"> - </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noMoviesAvailable>
        <tr>
          <td colspan="4" class="text-center">No movies available :(</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
