<div *ngIf="movie; else spinner" class="row justify-content-center mt-4">
  <div class="col-5">
    <dl class="row">
      <dt class="col-sm-3">Title</dt>
      <dd class="col-sm-9">{{movie.title}}</dd>

      <dt class="col-sm-3">Type</dt>
      <dd class="col-sm-9">{{movie.type}}</dd>

      <dt class="col-sm-3">Year</dt>
      <dd class="col-sm-9">{{movie.year}}</dd>

      <dt class="col-sm-3">Runtime</dt>
      <dd class="col-sm-9">{{movie.runtime}}</dd>

      <dt class="col-sm-3">Plot</dt>
      <dd class="col-sm-9">{{movie.plot}}</dd>
    </dl>
  </div>
  <div class="col-5 text-right">
    <img class="img-responsive img-thumbnail img-rounded image" [src]="movie.poster" />
  </div>
</div>
<ng-template #spinner>
  <div class="text-center mt-4 mb-4">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
  </div>
</ng-template>
<div class="row mt-4">
  <div class="col-2 offset-1"><a [routerLink]="['/']" class="btn btn-primary w-100" href="#">Go Back</a></div>
</div>
